@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-main: #5daeff;
  --green-main: #17eb89;
  --pink-main: #ff92cb;
  --red-main: #ed494c;
  --orange-main: #f08a4a;
  --skin-main: #f9c194;
  --yellow-main: #fffae8;
  --yellow-dark: #d1a840;
  --white-mer: #f2f1f1;
  --black-mer: #383737;
}

@font-face {
  font-family: 'DFVN Bagel Fat One';
  src: url('./assets/fonts/DFVN_Bagel_Fat_One.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 16px;
  font-family: 'DFVN Bagel Fat One', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
  font-size: 24px !important;
}
