@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-main: #5daeff;
  --blue-dark: #5399e0;
  --green-main: #17eb89;
  --green-dark: #039854;
  --pink-main: #ff92cb;
  --pink-dark: #d1689f;
  --red-main: #ed494c;
  --orange-main: #f08a4a;
  --orange-dark: #d0773f;
  --skin-main: #f9c194;
  --yellow-main: #fffae8;
  --yellow-light: #fcd700;
  --yellow-dark: #d1a840;
  --white-mer: #f2f1f1;
  --black-mer: #383737;
  --gray-1: #f2f1f1;
  --gray-2: #d8d8d8;
  --gray-3: #b2b0b0;
  --gray-4: #868686;
  --gray-5: #727070;
  --gray-6: #4c4747;
  --gray-7: #383737;
  --gray-8: #d9d9d9;
  --gray-9: #f6f6f6;
}

@font-face {
  font-family: 'DFVN Bagel Fat One';
  src: url('./assets/fonts/DFVN_Bagel_Fat_One.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle-Bold';
  src: url('./assets/fonts/Dongle-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle-Light';
  src: url('./assets/fonts/Dongle-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle-Regular';
  src: url('./assets/fonts/Dongle-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DFVN-Purenotes';
  src: url('./assets/fonts/DFVN_Purenotes.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 16px;
  font-family: 'DFVN Bagel Fat One', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
  font-size: 24px !important;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

[data-vaul-drawer][data-vaul-drawer-direction='left']::after {
  background: transparent !important;
}

@keyframes rotateLeft {
  from {
    transform: translateX(100%) scale(0.3) rotate(0deg);
  }
  to {
    transform: translateX(65%) scale(0.8) rotate(-10deg);
  }
}

@keyframes rotateRight {
  from {
    transform: translateX(-100%) scale(0.3) rotate(0deg);
  }
  to {
    transform: translateX(-65%) scale(0.8) rotate(10deg);
  }
}

@keyframes scale {
  from {
    scale: 30%;
  }
  to {
    scale: 100%;
  }
}

@media (max-width: 480px) {
  /* Mobile nhỏ */
  @keyframes rotateLeft {
    from {
      transform: translateX(100%) scale(0.3) rotate(0deg); /* Bắt đầu từ giữa */
    }
    to {
      transform: translateX(70%) scale(0.8) rotate(-5deg); /* Xòe ra ít hơn */
    }
  }

  @keyframes rotateRight {
    from {
      transform: translateX(-100%) scale(0.3) rotate(0deg);
    }
    to {
      transform: translateX(-70%) scale(0.8) rotate(5deg);
    }
  }

  .rotate-left {
    animation: rotateLeft 1s ease-out forwards;
  }

  .rotate-right {
    animation: rotateRight 1s ease-out forwards;
  }

  .scale {
    animation: scale 0.8s linear forwards;
  }
}

.rotate-left {
  animation: rotateLeft 1s linear forwards;
}

.rotate-Right {
  animation: rotateRight 1s linear forwards;
}

.scale {
  animation: scale 1s linear forwards;
}
