@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-main: #5daeff;
  --green-main: #17eb89;
  --pink-main: #ff92cb;
  --red-main: #ed494c;
  --orange-main: #f08a4a;
  --skin-main: #f9c194;
  --yellow-main: #fffae8;
  --yellow-light: #fcd700;
  --yellow-dark: #d1a840;
  --white-mer: #f2f1f1;
  --black-mer: #383737;
  --gray-1: #f2f1f1;
  --gray-2: #d8d8d8;
  --gray-3: #b2b0b0;
  --gray-4: #868686;
  --gray-5: #727070;
  --gray-6: #4c4747;
  --gray-7: #383737;
}

@font-face {
  font-family: 'DFVN Bagel Fat One';
  src: url('./assets/fonts/DFVN_Bagel_Fat_One.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle-Bold';
  src: url('./assets/fonts/Dongle-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle-Light';
  src: url('./assets/fonts/Dongle-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle-Regular';
  src: url('./assets/fonts/Dongle-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DFVN-Purenotes';
  src: url('./assets/fonts/DFVN_Purenotes.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 16px;
  font-family: 'DFVN Bagel Fat One', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
  font-size: 24px !important;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
